#picdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background: #FFF;
  border-left: 1px solid #eee;
  box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: 0.4s; }
  #picdrop.closed {
    right: -100% !important; }

